
$fonts-headline: 'Comfortaa', cursive;
$fonts-body: 'Lato', sans-serif;
$background-color: #daede2;
$primary: #5c8001;
$accent1: #fb6107;
$accent2: #fbb02d;
$sidebar: #7cb518;
$text-dark: #333;
$text-light: #fff;
